@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Zilla+Slab:wght@300&display=swap');
.animation{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    rotate:270deg;
  }

  .animation img{
    width: 5vw;
  }
  @keyframes animation{
    0%   { left:0%; top:0px;}
    10% { left:20vw; top:0px; rotate:200deg}
    25%  { left:50vw; top:0px; rotate:150deg;}
    35%{ left:75vw; top: 0px; rotate:100deg;}
    42%{ left: 80vw; top:0px; rotate: 50deg;}
    50%  { left: 90vw; top:0px; rotate: 0deg;}
    53%  { left: 86vw; top:200px; rotate:860deg}
    58%  { left: 80vw; top:0px; rotate: 50deg; }
    65%  { left:75vw; top:0px; rotate: 100deg;}
    75% {left:50vw; top:0px; rotate:150deg;}
    90% { left:20vw; top:0px; rotate:200deg}
    100% { left:0%; top:1px;}
  }

:root{
    font-family: 'Bungee', cursive;
    font-family: 'Zilla Slab', serif;
}
.formato{
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
}
*{
    box-sizing: border-box;
}
header{
    background-color: #395267;
    grid-area: header;
    position: sticky ;
    display: grid;
    top: 0;
    z-index: 2;
}
main{
    grid-area: main;
    background-color: #4C778A;
}
.logo{
    width: 18vw;

    height: auto;
}
footer{
    grid-area: footer;
    background-color:#395267;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    width: auto;
    height: 25px;
}
footer a{
   text-decoration: none;
}
.cabecalho{
    display: flex;
    justify-self:left;
}
.atalhos{
    color:white;
    display: flex;
    font-size: 1.4rem;
    max-height:130px ;
}
.atalhos a{
        margin:5vw;
    margin-left: 5vw;
    }
.ca{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Bungee', cursive;
}
.alb1{
    display: flex;
    justify-content: center;
    font-family: 'Bungee', cursive;
    font-size: 2rem;
}
.musc1{
    display: flex;
    justify-content: center;
    font-family: 'Bungee', cursive;
    font-size: 1.8rem;
}
.nav-item a{
    color: white;
    font-family: 'Zilla Slab', serif;
    text-decoration: none;
    font-size: 1.5rem;
}
.textalb{
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 1.5rem;
    background-color: #395267;
    border-color: black ;
    border-style:solid;
    margin-top: 10px;
    border-radius: 2.5vw;
}
.intro{
    display: flex;
    justify-content: center;
    text-align:center;
}
.introtext{
    text-align: center;
    font-size: 1.2rem;
}
.introtext h1{
 font-family: 'Bungee', cursive; ;
}
.introtext p{
    font-family: 'Zilla Slab', serif;
    font-size: 1.8rem;
}
.intro img{
    margin-top: 10px;
    width: 50%;
    justify-self: center;
}
.lugar1 img{ 
    width: 40vw;
}
.lugar1{
    display:flex;
    border: 3px solid black;
    width:69vw;
    height:auto;
}
th{
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
    padding-left: 50px;
}
td{
    font-family:'Zilla Slab', serif; 
    font-size: 1.5rem;
    padding-left: 10px;
}
.tabelas{
    display: flexbox;
padding-bottom: 25px;
 padding-left: 20px;
}
fieldset{
    background-color: #4C778A;
border: 3px solid black;

}
#mensagem{
    background-color: #395267;
    border: #395267;
    color: white;
    height: 1vw;
}
.formulario{
    display: flexbox;
    justify-self: center;
    margin-left: 25vw;
    width: 50vw;
}
#enviar{
    border:none;
    background-color:#395267 ;
    margin-left: 20vw;

}
